<div class="row ml-2">
  <div class="col-md-12 pt-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Cost Centre</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead class="">
              <th scope="col">Code</th>
              <th scope="col">Name</th>
              <th scope="col">Module</th>
            </thead>
            <tbody>
              <tr>
                <td>A</td>
                <td>Finance Division</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">General</option>
                    <option value="2">Production</option>
                    <option value="3">Workshop</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>A01</td>
                <td>Finance Department</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">General</option>
                    <option value="2">Production</option>
                    <option value="3">Workshop</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>A02</td>
                <td>Accounts Department</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">General</option>
                    <option value="2">Production</option>
                    <option value="3">Workshop</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>A03</td>
                <td>Warehouse Department</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">General</option>
                    <option value="2">Production</option>
                    <option value="3">Workshop</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>A04</td>
                <td>IT Department</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">General</option>
                    <option value="2">Production</option>
                    <option value="3">Workshop</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>A05</td>
                <td>Internal Audit Department</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">General</option>
                    <option value="2">Production</option>
                    <option value="3">Workshop</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>A06</td>
                <td>Business Development</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">General</option>
                    <option value="2">Production</option>
                    <option value="3">Workshop</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>B</td>
                <td>Legal Division</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">General</option>
                    <option value="2">Production</option>
                    <option value="3">Workshop</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>B01</td>
                <td>Legal Department</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">General</option>
                    <option value="2">Production</option>
                    <option value="3">Workshop</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>B02</td>
                <td>Corporate Department</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">General</option>
                    <option value="2">Production</option>
                    <option value="3">Workshop</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
