<div class="row m-2">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4>Period wise Document number</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">Voucher</div>
          <div class="col-sm-2">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="table-responsive mt-2">
          <table style="width: 50%; margin: auto" class="table table-bordered">
            <thead class="">
              <th scope="col">Period</th>
              <th scope="col">Serial No</th>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>12000013</td>
              </tr>
              <tr>
                <td>01</td>
                <td>12000101</td>
              </tr>
              <tr>
                <td>01</td>
                <td>12000001</td>
              </tr>
              <tr>
                <td>01</td>
                <td>12000001</td>
              </tr>
              <tr>
                <td>01</td>
                <td>1200013</td>
              </tr>
              <tr>
                <td>01</td>
                <td>1200074</td>
              </tr>
              <tr>
                <td>02</td>
                <td>1200001</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
