<div class="row m-2">
  <div class="col-md-12 pt-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Bank / Cash Master</h4>
      </div>
      <div class="card-body">
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Code</div>
          <div class="col-sm-2">
            <input value="AS" type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Name</div>
          <div class="col-sm-9">
            <input value="as" type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Type</div>
          <div class="col-sm-4">
            <select class="form-control" title="Bank">
              <option value="1">Bank</option>
              <option value="2">Cash</option>
            </select>
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Address</div>
          <div class="col-sm-6">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Tel</div>
          <div class="col-sm-3">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Fax</div>
          <div class="col-sm-3">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Email</div>
          <div class="col-sm-3">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Bank Branch</div>
          <div class="col-sm-9">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Contact Person</div>
          <div class="col-sm-9">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Remarks</div>
          <div class="col-sm-9">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">GL Code</div>
          <div class="col-sm-3">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Discount GL Code</div>
          <div class="col-sm-3">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Charges GL Code</div>
          <div class="col-sm-3">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Voucher</div>
          <div class="col-sm-2">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Routing Code</div>
          <div class="col-sm-7">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3 mt-2">Tax Registration No.</div>
          <div class="col-sm-7">
            <input type="email" class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
