<div class="row mt-2 p-4">
    <div class="col-md-12">
        <div class="card p-4">
            <div class="card-header">
                <h4>Other Subledger</h4>
            </div>
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-sm-3">
                        Control Accounts
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3">
                        SL Code
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3">
                        Description
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3">
                        Currency
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3">
                        Currency
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3">
                        Bank AC Type
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3">
                        Job Code
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3">
                        Remarks
                    </div>
                    <div class="col-sm-9">

                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3 mt-2">
                        Status
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input type="checkbox" class="form-control" disabled>
                                            </div>
                                            <div class="col-sm-8">
                                                Active
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <button style="margin-top: -10px;" class="btn btn-primary"> Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        Inactive Date
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>