<div class="row p-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Charts of Account</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead class="">
              <th scope="col">Code</th>
              <th scope="col">Description</th>
              <th scope="col">Type</th>
              <th scope="col">A/C Type</th>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>Assets</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">Balance Sheet</option>
                    <option value="2">Profit and Loss</option>
                  </select>
                </td>
                <td>
                  <select class="form-control" title="Debit">
                    <option value="1">Debit</option>
                    <option value="2">Credit</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>02</td>
                <td>Liabilities</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">Balance Sheet</option>
                    <option value="2">Profit and Loss</option>
                  </select>
                </td>
                <td>
                  <select class="form-control" title="Debit">
                    <option value="1">Debit</option>
                    <option value="2">Credit</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>03</td>
                <td>Owner's Equity/Share Capital</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">Balance Sheet</option>
                    <option value="2">Profit and Loss</option>
                  </select>
                </td>
                <td>
                  <select class="form-control" title="Debit">
                    <option value="1">Debit</option>
                    <option value="2">Credit</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>04</td>
                <td>Revenue</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">Balance Sheet</option>
                    <option value="2">Profit and Loss</option>
                  </select>
                </td>
                <td>
                  <select class="form-control" title="Debit">
                    <option value="1">Debit</option>
                    <option value="2">Credit</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>05</td>
                <td>Expenses and Costs</td>
                <td>
                  <select class="form-control" title="Balance Sheet">
                    <option value="1">Balance Sheet</option>
                    <option value="2">Profit and Loss</option>
                  </select>
                </td>
                <td>
                  <select class="form-control" title="Debit">
                    <option value="1">Debit</option>
                    <option value="2">Credit</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row p-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="">
          <table class="table table-bordered table-striped table-hover">
            <thead class="">
              <th scope="col">Code</th>
              <th scope="col">Description</th>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>Current Assets</td>
              </tr>
              <tr>
                <td>02</td>
                <td>Non-Current Assets</td>
              </tr>
              <tr>
                <td>03</td>
                <td>Other Non-Current Assets</td>
              </tr>
              <tr>
                <td>04</td>
                <td>Intermediate Accounts - Clearing Accnts</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row ml-2 mr-2">
  <div class="col">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="">
              <table class="table table-bordered table-striped table-hover">
                <thead class="">
                  <th scope="col">Code</th>
                  <th scope="col">Description</th>
                </thead>
                <tbody>
                  <tr>
                    <td>01</td>
                    <td>Cash Accounts</td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Bank Accounts</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Recievable</td>
                  </tr>
                  <tr>
                    <td>04</td>
                    <td>Advances</td>
                  </tr>
                  <tr>
                    <td>05</td>
                    <td>Work In Progress -Projects</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover">
                <thead class="">
                  <th scope="col">Code</th>
                  <th scope="col">Description</th>
                </thead>
                <tbody>
                  <tr>
                    <td>01</td>
                    <td>Cash on Hand</td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Petty Cash</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Flow cash-Gevernmental and E-D card</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
