<div style="margin-top: 60px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Masters
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#/application/generalledger/currencymaster">Currency Master</a>
                        <a class="dropdown-item" href="#/application/generalledger/chartsofaccounts">Chart of
                            Accounts</a>
                        <a class="dropdown-item" href="#/application/generalledger/costcentre">Cost Centre</a>
                        <a class="dropdown-item" href="#/application/generalledger/generalledger">General Ledger</a>
                        <a class="dropdown-item" href="#/application/generalledger/controlaccounts">Control
                            Accounts</a>
                        <a class="dropdown-item" href="#/application/generalledger/bankmaster">Bank/ Cash
                            Master</a>
                        <a class="dropdown-item" href="#/application/generalledger/chequedetails">Cheque Details</a>
                        <a class="dropdown-item" href="#/application/generalledger/voucherdefinition">Voucher
                            Definition</a>
                        <a class="dropdown-item" href="#/application/generalledger/othersubledger">Other Subledger
                            Definition</a>
                        <a class="dropdown-item" href="#/application/generalledger/arapmaster">AR/AP Common
                            Masters</a>
                        <a class="dropdown-item" href="#/application/generalledger/utility">Utility and Comm.
                            Master</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Transactions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="#">
                        Opening Balance
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#/application/generalledger/budgetentry">
                        Budget Entry
                    </a>
                </li>

                <div class="dropdown-divider"></div>
                <li>
                    <a class="dropdown-item" href="#/application/generalledger/journalvoucher">
                        Journal Vouchers
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#/application/generalledger/journalvoucherapp">
                        Journal Vouchers-Approval
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#/application/generalledger/debitnote">
                        Debit Note
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        Credit Note
                    </a>
                </li>
                <li class="middle-submenu-list">
                    <a class="dropdown-item dropdown-toggle">Cash Trasactions</a>
                    <ul class="">
                        <li><a class="dropdown-item" href="#/application/generalledger/cashreceiptapproval">Cash
                                Receipts</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/cashapproval">Cash
                                Receipts-Approval</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/cashpaymentvoucher">Cash
                                Payments</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/cashapprovalpayments">Cash
                                Payments-Approval</a></li>
                    </ul>
                </li>
                <li class="middle-submenu-list">
                    <a class="dropdown-item dropdown-toggle">Bank Trasactions</a>
                    <ul class="">
                        <li><a class="dropdown-item" href="#/application/generalledger/bankreceipt">
                                Bank Receipts</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/bankreceiptapproval">
                                Bank Receipts-Approval</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/bankpayment">
                                Bank Payments</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/cashapprovalpayments">
                                Bank Payments-Approval</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="#/application/generalledger/cashapprovalpayments">
                                Bank Payments-Register</a></li>

                    </ul>
                </li>
                <li class="middle-submenu-list">
                    <a class="dropdown-item dropdown-toggle">PDC Transactions</a>
                    <ul class="">
                        <li><a class="dropdown-item" href="#/application/generalledger/pdcreivables">
                                PDC Receivables</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/checkcancellation">
                                Check Cancellation</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/pdcreceivabledeposit">
                                PDC Receivable Deposits</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/cashapprovalpayments">
                                Cheque Discounts</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/cashapprovalpayments">
                                Cheque Discounts Clearing</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/chequreturn">
                                Cheque Return</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="#/application/generalledger/pdcpayable">
                                PDC Payables</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/cashapprovalpayments">
                                PDC Payable Clearing</a></li>
                        <li><a class="dropdown-item" href="#/application/generalledger/pdcpayablechequecancel">
                                PDC Payable Cheque Cancellation</a></li>
                    </ul>
                </li>
                <div class="dropdown-divider"></div>
                <li>
                    <a class="dropdown-item" href="#">
                        Recurring Vouchers
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        Recurring Voucher Posting
                    </a>
                </li>
                <div class="dropdown-divider"></div>
                <li>
                    <a class="dropdown-item" href="#">
                        Account Interface
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        Utility and Comm. Charges
                    </a>
                </li>
        </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#">Reports </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Queries
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">
                    Cheque Enquiry
                </a>
                <a class="dropdown-item" href="#">
                    GL Enquiry
                </a>
                <a class="dropdown-item" href="#">
                    GL Balances
                </a>
                <a class="dropdown-item" href="#">
                    SL Enquiry
                </a>
                <a class="dropdown-item" href="#">
                    Document Enquiry
                </a>
                <a class="dropdown-item" href="#">
                    Enquiry
                </a>
                <a class="dropdown-item" href="#">
                    GL/SL As On Enquiry
                </a>
                <a class="dropdown-item" href="#">
                    Cash Flow Enquiry
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    Inter-Module Doc. Module
                </a>
            </div>
        </li>

        <li class="nav-item ">
            <a class="nav-link" href="#">Utilities </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Show Keys</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Exit</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#">Window </a>
        </li>
        </ul>
</div>
</nav>
</div>



<router-outlet></router-outlet>