<div class="row m-2">
  <div class="col-md-12 pt-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Control Accounts</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">Control Code</div>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Description</div>
          <div class="col-sm-9">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Control Code</div>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Type</div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-3">
                <select class="form-control">
                  <option value="1">Receivable</option>
                  <option value="2">Payable</option>
                  <option value="3">Letter of Credit</option>
                  <option value="4">Job</option>
                  <option value="5">Fixed Assets</option>
                  <option value="6">Others</option>
                  <option value="7">Production</option>
                </select>
              </div>
              <div class="col-sm-2">Sub Contractor</div>
              <div class="col-sm-2">
                <select class="form-control">
                  <option value="1">No</option>
                  <option value="2">Yes</option>
                </select>
              </div>
              <div class="col-sm-2">Job Module</div>
              <div class="col-sm-2">
                <select class="form-control">
                  <option value="1">No</option>
                  <option value="2">Yes</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">GL Code</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Retention GL</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Labour Retention GL</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Production GL</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Advance GL</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Proj Cost GL Code</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Wip Amend GL Code</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">MOS GL</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">MOS RETENTION GL</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Petty Cash GL Code</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">LC Notes Payable GL</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">LC Margin GL</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Unearned Revenue GL</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Labour Cost Recovery</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Labour Cost Control</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Settlement Applied</div>
          <div class="col-sm-3">
            <select class="form-control">
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
          </div>
        </div>
        <div class="row mt-2 align-items-center">
          <div class="col-sm-3">Production Type</div>
          <div class="col-sm-3">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
