<div class="row m-2">
  <div class="col-md-12 pt-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">General Ledger</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8">
            <div class="row p-1">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3">Description</div>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3">Charts of Accounts</div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" />
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" />
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" />
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3">GL Code</div>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3 mt-2">GL Currency</div>
                      <div class="col-sm-3">
                        <input type="email" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3">A/c Type</div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-3">
                            <select class="form-control" title="Credit">
                              <option value="1">Credit</option>
                              <option value="2">Saving</option>
                            </select>
                          </div>
                          <div class="col-sm-9">
                            <div class="row">
                              <div class="col-sm-7">
                                <div class="row align-items-center">
                                  <div class="col-sm-5">Status</div>
                                  <div class="col-sm-7">
                                    <select
                                      class="form-control"
                                      data-style="btn btn-primary"
                                      title="Credit"
                                    >
                                      <option value="1">Credit</option>
                                      <option value="2">Saving</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-5">
                                <div
                                  style="
                                    margin: auto;
                                    margin-top: -10px !important;
                                  "
                                >
                                  <button
                                    class="btn btn-danger"
                                    style="width: 100%"
                                  >
                                    Cancel
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-3"></div>
                          <div class="col-sm-9">
                            <div class="row">
                              <div class="col-sm-7">
                                <div class="row">
                                  <div class="col-sm-5">Invalid Date</div>
                                  <div class="col-sm-7">
                                    <input type="text" class="form-control" />
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-5">
                                <div
                                  style="
                                    margin: auto;
                                    margin-top: -10px !important;
                                  "
                                >
                                  <button
                                    class="btn btn-primary"
                                    style="width: fit-content"
                                  >
                                    Month Tran. Graph
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="row">
                              <div class="col-sm-3">
                                <input
                                  type="checkbox"
                                  style="margin-left: 10px"
                                  class="form-check-input"
                                />
                              </div>
                              <div class="col-sm-9">Cost center</div>
                            </div>
                          </div>
                          <div class="col-sm-8">
                            <div class="row">
                              <div
                                class="col-sm-7"
                                style="
                                  margin-left: 0px !important;
                                  margin-right: 0px !important;
                                "
                              >
                                <div class="row">
                                  <div class="col-sm-3"></div>
                                  <div class="col-sm-9">
                                    <div class="row">
                                      <div class="col-sm-3">
                                        <input
                                          type="checkbox"
                                          style="margin-left: 10px"
                                          class="form-check-input"
                                          disabled
                                        />
                                      </div>
                                      <div class="col-sm-9">Book Link</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-5">
                                <div
                                  style="
                                    margin-left: -17px;
                                    margin-top: -10px !important;
                                  "
                                >
                                  <button
                                    class="btn btn-primary"
                                    style="width: fit-content"
                                  >
                                    Month Bal. Graph
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="row">
                              <div class="col-sm-2">
                                <input
                                  type="checkbox"
                                  style="margin-left: 10px"
                                  class="form-check-input"
                                  disabled
                                />
                              </div>
                              <div class="col-sm-10">Sub Link</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row p-1">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Cost Center</h4>
                  </div>
                  <div class="card-body">
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3">
                        <input type="email" class="form-control" />
                      </div>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3">
                        <input type="email" class="form-control" />
                      </div>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3">
                        <input type="email" class="form-control" />
                      </div>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3">
                        <input type="email" class="form-control" />
                      </div>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3">
                        <input type="email" class="form-control" />
                      </div>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3">
                        <input type="email" class="form-control" />
                      </div>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                      <div class="col-sm-3">
                        <input type="email" class="form-control" />
                      </div>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" />
                      </div>
                    </div>
                    <div class="row">
                      <div style="margin: auto">
                        <button class="btn btn-primary">Select All</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 p-0">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Balance</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead class="">
                    <th scope="col">Branch</th>
                    <th scope="col"></th>
                    <th scope="col">Costcenter</th>
                    <th scope="col">Opening</th>
                    <th scope="col">Debit</th>
                    <th scope="col">Credit</th>
                    <th scope="col">Closing</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-sm-3">Costcenter</div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" />
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
