<div class="row p-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-heading">
                    AR / AP Common Masters
                </h4>
            </div>
            <div class="card-body">
                <div class="">
                    <table class="table table-bordered">
                        <thead class="">
                            <th scope="col">
                                Code
                            </th>
                            <th scope="col">
                            </th>
                            <th scope="col">
                                Short Name
                            </th>
                            <th scope="col">
                                Full Name
                            </th>
                            <th scope="col">
                                Area
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    CC
                                </td>
                                <td>
                                    S003
                                </td>
                                <td>
                                    SAFA COMMUNITY SCHOOL
                                </td>
                                <td>
                                    SAFA COMMUNITY SCHOOL
                                </td>
                                <td>
                                    DUBAI
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CC
                                </td>
                                <td>
                                    U001
                                </td>
                                <td>
                                    UNION CO OPERATIVE SOCIETY
                                </td>
                                <td>
                                    UNION CO OPERATIVE SOCIETY
                                </td>
                                <td>
                                    DUBAI
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CC
                                </td>
                                <td>
                                    Z001
                                </td>
                                <td>
                                    ZABEEL CATERING SERVICES LLC.
                                </td>
                                <td>
                                    ZABEEL CATERING SERVICES LLC.
                                </td>
                                <td>
                                    DUBAI
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CS
                                </td>
                                <td>
                                    0001
                                </td>
                                <td>
                                    INTERNAL LINE INTERIOR DESIGN LLC
                                </td>
                                <td>
                                    INTERNAL LINE INTERIOR DESIGN LLC
                                </td>
                                <td>
                                    DUBAI
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CU
                                </td>
                                <td>
                                    0001
                                </td>
                                <td>
                                    ARGOL FOOD & BEVERAGE NOODLE HOUSE
                                </td>
                                <td>
                                    ARGOL FOOD & BEVERAGE NOODLE HOUSE
                                </td>
                                <td>
                                    DUBAI
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CU
                                </td>
                                <td>
                                    0002
                                </td>
                                <td>
                                    ARGOL FOOD DUBAI MALL SECOND CUP
                                </td>
                                <td>
                                    ARGOL FOOD DUBAI MALL SECOND CUP
                                </td>
                                <td>
                                    DUBAI
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CU
                                </td>
                                <td>
                                    0003
                                </td>
                                <td>
                                    KHAFIF & SEHHAHI REST
                                </td>
                                <td>
                                    KHAFIF & SEHHAHI REST
                                </td>
                                <td>
                                    SHARJAH
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CU
                                </td>
                                <td>
                                    0004
                                </td>
                                <td>
                                    CAFE PRIMA
                                </td>
                                <td>
                                    CAFE PRIMA
                                </td>
                                <td>
                                    DUBAI
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CU
                                </td>
                                <td>
                                    0005
                                </td>
                                <td>
                                    CAVIAR CLASSIC
                                </td>
                                <td>
                                    CAVIAR CLASSIC
                                </td>
                                <td>
                                    DUBAI
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CU
                                </td>
                                <td>
                                    0006
                                </td>
                                <td>
                                    RED CARPT CAFE ARPRT T3
                                </td>
                                <td>
                                    RED CARPT CAFE ARPRT T3
                                </td>
                                <td>
                                    DUBAI
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>